
body {
  font-family: "Zalando Sans SemiExpanded", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
}

.header.scrolled {
    background-color: #000;
    transition: all ease 0.5s;
}

.header_inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom:1px solid #FFFFFF33;
    padding: 30px 0;
    position: relative;
}

.menu_left,
.menu_right {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 45px;
}

.header_search button {
    background-color: transparent;
    border:none;
    padding: 0;
}


.menu_right_search {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header_inner li a {
    color:#fff;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

.header_inner li.active {
    position: relative;
}

.header_inner li.active::after {
    position: absolute;
    content: '';
    background-color: #FFFFFF;
    width: 100%;
    height:1px;
    bottom: -31px;
    left: 0;
}

.has_dropdown {
    position: relative;
    padding-right: 20px;
}

.has_dropdown::after {
    position: absolute;
    content:'';
    right: 0;
    width: 15px;
    height: 15px;
    background-image: url(/images/icons/dropdown-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    top:50%;
    transform: translateY(-50%);
}

.logo_image {
    width:145px;
}

.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.mobile_logo {
    max-width:98px;
}

.mobile_header_inner {
    padding: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.mobile_menu_search_wrap {
    display: flex;
    align-items: center;
    gap: 20px;
}

.mobile_header_search button,
.mobile_menu_toggle button {
    background-color: transparent;
    border:none;
}


.banner {
    height: 815px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 180px;
}

.banner .container {
    position: relative;
    height:100%;
}

.content_outer h1 {
    font-size: 65px;
    font-weight: 500;
    color:#fff;
    text-transform: uppercase;
    line-height: 47px;
    margin-bottom: 0;
}

.content_outer h1 .header_light {
    font-size: 30px;
    font-weight: 300;
    font-style: light;
}

.content_outer h1 .header_first {
    margin-left: -35px;
}

.content_outer h1 .header_first:nth-child(2) {
    margin-bottom: 5px;
}

.content_outer h1 .header_second {
    padding-left: 38px;
}

.content_outer h1 .header_third {
    padding-left: 110px;
}

.content_outer p {
    font-weight: 500;
    line-height: 22px;
    font-size: 16px;
    color:#fff;
    max-width:372px;
    margin-left: 145px;
    margin-top: 25px;
    margin-bottom: 0;
    position: relative;
}

.content_outer p::after {
    content:'';
    position: absolute;
    top: 0;
    width:1px;
    height:100%;
    background-color: #FFFFFF73;
    left: -30px;
}

.banner_scroll_btn {
    width:41px;
    height: 62px;
    border-radius: 150px;
    background-color: #FFFFFF1A;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 50px;
    left:5px
}

.featured_projects {
    padding: 150px 0;
}

.featured_projects .sub_header {
    font-weight: 300;
    font-size: 44px;
    color:#888888;
    display: inline-block;
    padding-left: 100px;
}

.featured_projects h2 {
    font-weight: 500;
    font-size: 64px;
    color: #000;
    padding-left: 212px;
    margin-bottom: 32px;
}

.common_button {
    padding:18px 30px;
    border-radius: 100px;
    border:1px solid #B1B1B1;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color:#000;
    display: inline-flex;
    transition: all ease 0.5s;
}

.common_button:hover {
    background-color: #000;
    color:#fff;
    transition: all ease 0.5s;
}

.common_button:hover img {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(2%) hue-rotate(229deg) brightness(102%) contrast(101%);
    transition: all ease 0.5s;
}

.common_button img {
    transition: all ease 0.5s;
}

.common_button_black {
    padding:18px 30px;
    border-radius: 100px;
    border:1px solid #000;
    background-color: #000;
    text-transform: uppercase;
    font-size: 14px;
    position: relative;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color:#fff;
    display: inline-flex;
}


.common_button_black:hover,
.more_service_btn:hover {
    color:#000;
    background-color: transparent;
    transition: all ease 0.5s;
}

 .common_button_black:hover img,
 .more_service_btn:hover img {
    filter: brightness(0) saturate(100%) invert(0%) sepia(97%) saturate(3%) hue-rotate(142deg) brightness(105%) contrast(100%);
    transition:all ease 0.5s;
  }

   .common_button_black img,
   .more_service_btn img {
    transition:all ease 0.5s;
  }

.recent_update_btn {
    border-radius: 100px;
    background-color: transparent;
    text-transform: uppercase;
    font-size: 10.58px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color:#000;
    display: inline-flex;
    transition: all ease 0.5s;
}

.recent_update_btn:hover {
    font-weight: bold;
    transition: all ease 0.5s;
}

.recent_update_btn img {
    width:18px;
}

.custom_recent_slider_btn_wrap {
    display: flex;
    align-items: center;
    gap: 26px;
    width: 100%;
    justify-content: flex-end;
    margin-top: 32px;
}

.custom_recent_slider_btn_wrap_mobile {
    justify-content: center;
}

.custom_recent_slider_btn {
    background-color: transparent;
    border: none;
}

.custom_recent_slider_btn_left {
    transform: rotate(180deg);
}

.featured_content p {
    font-size: 16px;
    color:#636363;
    max-width:362px;
}

.featured_button_content_wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 89px;
}

.featured_button_content_outer {
    display: flex;
    align-items: center;
}

.featured_content {
    padding-left: 44px;
    border-left:1px dashed #00000033;
}

.features_button {
    padding-right: 44px;
}

.featured_slide_inner {
    height:394px;
    background-color: #ddd;
    border-radius: 12px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.featured_projects .featured_slide {
    opacity: 1;
}

.featured_slide:nth-child(odd) {
    margin-top: 60px;
}

.featured_slide h3 {
    text-align: center;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 30px;
}

.featured_projects .location {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.featured_projects .location p {
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    color:#818181;
}

.swiper-navigation-icon {
    display: none;
}

.swipper_navigation {
    width:84px;
    height:54px;
    border-radius: 100px;
    background-color: #FFFFFFCC;
}

.recent_upadete_slide_next,
.recent_upadete_slide_prev {
    opacity: 0;
    pointer-events: none;
}

.partner_bg_container {
    padding-bottom: 213px;
}

.partner_shape {
    width:100%;
}

.partner_header_image {
    text-align: center;
}

.partner_header {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 37px;
    margin-top: 15px;
    font-size: 12px;
}

.partner h2 {
    width: 701px;
    transform: translateX(calc(50% - 6px));
    font-weight: 500;
    font-size: 64px;
}

.partner_content {
    width: 503px;
    margin-top: 30px;
    margin-bottom: 82px;
    transform: translateX(calc(50% + 172px));
}

.partner p {
    font-size: 20px;
    margin-bottom: 30px;
    color:#636363;
}

.partner .container {
    position: relative;
}

.partner_section_image_1 {
    position: absolute;
    top: 128px;
    width:349px;
    left: -92px;
    height:480px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
}

.partner_section_image_2 {
    position: absolute;
    bottom: -48px;
    right: -78px;
    width:270px;
    height:300px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.partner_bg_container {
    background:url("/images/partner_section_bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.partner_bg_container::after {
    content: "";
    position: absolute;
    background:linear-gradient(180deg,rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 30%);
    pointer-events: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.partner_points_item {
    display: flex;
    align-items: flex-start;
    gap: 15px;
    border-bottom: 1px solid #B1B1B1;
    padding-bottom: 20px;
}

.partner_points {
    display: flex;
    align-items: center;
    gap: 47.37px;
}

.partner_points_item_content p {
    text-transform: uppercase;
    color:#636363;
    font-size: 16px;
    margin: 0;
}

.partner_points_item_content p span {
    font-weight: 600;
}

.services {
    padding: 150px 0;
    background-color: #3b3a3a;
}

.service_header_container {
    display: flex;
    gap: 125px;
    align-items: flex-end;
}

.service_header_container h2 {
    font-weight:500;
    color:#fff;
    font-size: 64px;
    width:334px;
    margin-left: 204px;
    margin-top: 30px;
    text-align: right;
    margin-bottom: 0;
}

.service_header_container span {
    color:#A3A3A3;
    font-weight: 500;
    font-size: 12px;
    text-transform:uppercase;
    display: inline-block;
    position: relative;
    margin-left:364px;
}

.service_header_container span::after {
    position: absolute;
    width:59px;
    height:1px;
    background-color:#A3A3A3;
    content:"";
    right:-75px;
    top: 50%;
    transform: translateY(-50%);
}

.services .main_header_content_wrap p {
    max-width:396px;
    color:#CFCFCF;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}

.services .main_header_content_wrap {
    padding-left: 20px;
    padding-top: 72.85px;
    border-left:1.5px dashed #FFFFFF66;
}

.services_items_inner {
    background-color: #fff;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width:100%;
}

.services_items_outer {
    margin-top: 40px;
}

.services_slider .swiper-wrapper {
  display: flex;
  flex-wrap: nowrap !important; 
}

.services_slider .swiper-slide {
  flex-shrink: 0;  
  width: 100%;
    display: flex;
  height: auto; /* important */        
}

.service_swipper_pagination {
  position: relative !important;
  margin-top: 30px;
}

.services_slider {
  padding-bottom: 40px; /* space for dots */
}

.services_items_inner h3 {
    color:#000;
    font-weight: 500;
    font-size:20px;
    text-transform:uppercase;
    margin-top: 30px;
    margin-bottom: 15px;
}

.services_items_inner p {
   font-size: 14px;
   color:#636363;  
   margin-bottom: 0; 
}

.services_items_inner {
    height:100%;
}

.services_items {
    margin-bottom: 24px;
}
/* slider css */



.services_slider {
  overflow: hidden;
}

.services_slider .swiper-wrapper {
  display: flex;
}

.services_slider .swiper-slide {
  flex-shrink: 0;
}

.more_services h4 {
    text-align: center;
    font-size: 24px;
    margin-top: 59px;
}

.more_service_btn {
    background-color: #000;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 100px;
    border:1px solid #000;
}

.more_service_btn_wrap {
    margin-top: 66px;
}

.recent_updates {
    padding: 150px 0;
}

.recent_updates_header_wrap {
    display: flex;
    align-items: flex-end;
    gap: 125px;
}

.recent_updates_header {
    width:596px;
    text-align: right;
}

.recent_updates_header h2 {
    font-weight: 500;
    font-size: 64px;
    text-align: right;
    margin-top: 20px;
}

.recent_updates_header_content {
    width:447px;
    padding-left: 20px;
    border-left:1.5px dashed #C9BCA680;
}

.recent_updates_header_content p {
    color:#636363;
}

.recent_updates_header span {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    color:#A3A3A3;
    display: inline-block;
    position: relative;
    margin-right: 76px;
}

.recent_updates_header span::after {
    background-color: #A3A3A3;
    width:59px;
    height:1px;
    content:'';
    position: absolute;
    right: -73px;
    top: 50%;
    transform: translateY(-50%);
}

.news-slider {
  padding: 60px 0;
}

.swiper-slide {
  width: 400px;
  opacity: 0.4;
  transition: all 0.4s ease;
}

.swiper-slide-active {
  opacity: 1;
  transform: scale(1.05);
}

.card {
  background: #fff;
  border-radius: 12px;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card .date {
  font-size: 12px;
  color: #888;
  margin: 15px;
}

.card h3 {
  font-size: 20px;
  margin: 0 15px 10px;
}

.card .desc {
  font-size: 14px;
  color: #666;
  margin: 0 15px 15px;
}

.card a {
  margin: 0 15px 20px;
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
  color: black;
}

.recent_update_slide_image {
    width:100%;
}

.recent_update_slide_inner {
    padding: 60px 70px;
    width: 100%;
}

.recent_update_date {
    font-size:9.6px;
    color:#2D160B80;
    display: block;
    margin :15px 0 30px 0;
}

.swiper-slide-active .recent_update_date {
    font-size:12px;
    margin :20px 0 30px 0;
}

.recent_update_slide_inner h3 {
    font-size: 19.64px;
    margin-bottom: 5px;
}

.swiper-slide-active .recent_update_slide_inner h3 {
    font-size: 26px;
}

.recent_update_slide_inner p {
    font-size: 12px;
    color:#636363;
    margin-bottom: 12px;
}

.swiper-slide-active .recent_update_slide_inner p {
    font-size: 16px;
}

.recent_update_slide {
    width:540px !important;
    margin-right: 0px !important;
    opacity: 1;
}


.recent_update_slide.swiper-slide-active {
    width:676px !important;
}

.recent_update_slide.swiper-slide-active .recent_update_slide_inner {
    padding-top: 0;
    border-right: 1px dashed #00000033;
    border-left: 1px dashed #00000033;
    padding-bottom: 0;
}

.recent_update_slider {
    margin-top: 30px ;
    height:480px;
}

.contact_section {
    border-bottom:1px solid #C8C8C8;
    background-color: #F4F4F4;
    background-image: url(/images/contact-image.png);
    background-position: right;
    background-size: 55% 100%;
    background-repeat: no-repeat;
}

.contact_inner {
    padding: 116px 0;
}

.contact_header {
    font-weight: 500;
    font-size: 56px;
    margin-bottom: 30px;
}

.contact_description {
    font-size: 16px;
    color:#636363;
    margin-bottom: 30px;
}

.contact_section_form input,
.contact_section_form select {
    width:100%;
    height:47px;
    margin-bottom: 10px;
    border:none;
    border-bottom:1px solid #B1B1B1;
    color:#636363;
    font-size: 14px;
    background-color: #F4F4F4;

}

.contact_section_form input::placeholder,
.contact_section_form textarea::placeholder {
    color:#636363;
    font-size: 14px;
}

.contact_section_form textarea {
    font-size: 14px;
    height:82px;
    border:none;
    border-bottom:1px solid #B1B1B1;
    width:100%;
    padding-top: 15px;
    background-color: #F4F4F4;
}

.contact_section_form input:focus,
.contact_section_form select:focus,
.contact_section_form textarea:focus {
    outline:none;
    border-bottom: 2px solid #000;
}

.contact_select_outer {
    position: relative;
}

.contact_select_outer::after {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    pointer-events: none;
    top: 10px;
    right: 0;
    background: #F4F4F4;
}

.contact_select_outer img {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(calc(-50% + -3px));
    z-index: 1;
    pointer-events: none;
}

.contact_form_submit_btn {
    margin-top: 15px;
}

.contact_image {
    height:400px;
}


.footer {
    background-color: #F4F4F4;
}

.footer_header {
    font-weight: 300;
    font-size: 14px;
    text-transform:uppercase;
    color:#636363;
    margin-bottom: 30px;
}

.footer_address {
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
}

.footer_quick_links ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_quick_links ul li a {
    color:#000;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;
}

.footer_quick_links ul li {
    margin-bottom: 15px;
}

.social_links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
}

.social_links ul li a {
    display: inline-flex;
    width:36px;
    height:36px;
    border-radius: 50%;
    background-color: #000;
    align-items: center;
    justify-content: center;
}

.footer_email_and_number ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer_email_and_number ul li {
    margin-bottom: 12px;
}

.footer_email_and_number ul li a {
    color:#000;
    font-size: 16px;
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 15px;
    word-break: break-all;
}

.footer_email_and_number {
    margin-top: 117.5px;
}

.footer_left {
    height:100%;
    padding-top: 150px;
    border-right:1px solid #C8C8C8;
}

.footer_mene_and_socials {
    padding-top: 150px;
    padding-left: 100px;
    padding-bottom: 66px;
}

.footer_strip_logo_link ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 40px;
    margin-top: 8px;
}

.footer_strip_logo_link ul li a {
    font-size: 12px;
    text-decoration: none;
    color:#000;
}

.footer_strip {
    padding: 23px 0 30px 0;
    border-top:1px solid #C8C8C8;
}

.copyright_wrap p {
    margin: 0;
    font-size: 12px;
}

.copyright_wrap {
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 100px;
}

.mobile_menu {
    position: fixed;
    z-index: 999;
    background-color: #fff;
    width:100%;
    height:100%;
    top: 0;
    left:0;
    padding: 25px;
}

.mobile_menu ul {
    padding: 0;
    margin: 15px 0 0;
    list-style: none;
}

.mobile_menu ul li {
    margin-bottom: 15px;
}

.mobile_menu ul li a {
    color:#000;
    text-decoration: none;
}

button.menu_close_btn {
    position: absolute;
    right: 30px;
    top: 30px;
    background: transparent;
    border: none;
    font-size: 28px;
}










@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1224px;
    }
}